@model LolipopSquare.Models.ViewModels.DeleteProductVM

@{
    ViewData["Title"] = "DeleteProduct";
}

<h1>DeleteProduct</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DeleteProductVM</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    <dl>
        <dt>Images</dt>
        <dd>
            @foreach (var item in @Model.Images)
            {
                var imageBase64Data = Convert.ToBase64String(item.ImageData);
                <img src="data:image/jpg;base64, @imageBase64Data" width="100px" height="150px" alt="sweets"/>
            }
        </dd>
    </dl>

    <form asp-action="DeleteProduct" method="post">
        <input type="hidden" name="productID" value="@Model.Id" />
        <input type="submit" value="DeleteProduct" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
