@using System.Globalization
@using Microsoft.AspNetCore.Identity
@model LolipopSquare.Models.ProductDetailsVM
@inject SignInManager<ApplicationUser> signInManager

@{
    ViewData["Title"] = "DisplayProductDetails";
}
<form asp-controller="ShoppingCart" asp-action="AddItemForm" method="post" asp-route-productId="@Model.Id">
    <div class="productCard">

        <div class="col">
            <div>
                <div class="row">
                    <a class="col-2" asp-action="Index"><i class="fa fa-long-arrow-left" aria-hidden="true" id="backToList"></i></a>
            <h1 class="col productName">@Html.DisplayFor(model => model.Name)</h1><hr />
                </div>
            
            
            <div class="row centerText">
                <div class="col-3">
                     <div class="names">@Html.DisplayNameFor(model => model.Price)</div>
                      @Model.Price.ToString("C", new CultureInfo("de-DE")) | @Model.PriceInUsd.ToString("C", new CultureInfo("en-US")) | @Model.PriceInPLN.ToString("C", new CultureInfo("pl-PL"))
                </div>
            <div class="col">
                <div class="names">@Html.DisplayNameFor(model => model.Description)</div>
            <div>@Html.DisplayFor(model => model.Description)</div>
            </div>
            </div>
            <div class="buttonsEditAndExit">
                <div class="form-group ">
                    <input type="number" min="1" max="100" name="quantity" value="1" />
                    <button type="submit" id="buttonFontAwesome"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                </div>
            </div>
                <br />
            </div>
            </div >
            <div class="col imageMargin">
                    @foreach (var item in @Model.Images)
                    {
                        var imageBase64Data = Convert.ToBase64String(item.ImageData);
                        <img src="data:image/jpg;base64, @imageBase64Data" class="img-fluid imagesMargin" alt="sweets" />
                    }
        </div>
        </div>
        
        <br />
        <div class="text-center">
            @if (signInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
            {
                <a class="btn btn-primary" asp-action="EditProductForm" asp-route-id="@Model.Id">Edit</a>
            }
            
        </div>

    
</form>




