@using LolipopSquare.Models.ViewModels
@model List<ProductVM>

@{
    ViewData["Title"] = "List of Products";
}

<h3> List of all Products</h3>
<div class="container">
    <div class="row g-5">

        @foreach (var item in Model)
        {
            <div class="col-12 col-md-6 col-lg-2 d-flex align-items-stretch">
                <div class="card" style="width: 11rem;">
                    @{
                        if (item.Images.Count >= 1)
                        {
                            var imageBase64Data = Convert.ToBase64String(item.Images.FirstOrDefault().ImageData);
                            <img class="card-img-top" src="data:image/jpg;base64, @imageBase64Data" alt="Sweeties" />
                        }
                    }
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <h6 class="card-subtitle"><a class ="card-link mb-2 text-muted" asp-controller="Category" asp-action="Index">@item.CategoryName</a></h6>
                        <p class="card-text">@item.Price</p>
                    </div>
                    <div class="card-body">
                        <a href="#" class="card-link btn btn-dark">Add to cart </a>
                        <a href="#" class="card-link">Another link</a>
                        <a class="btn btn-dark" asp-action="EditProductForm" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-primary" asp-action="DisplayProductDetails" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-danger" asp-action="DeleteProductForm" asp-route-productId="@item.Id">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>