@model IEnumerable<Product>

@{
    ViewData["Title"] = "List of Products";
}

<h3> List of all Products</h3>

<table class="table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Avaliability</th>
            <th>Edit product</th>
            <th>Delete product</th><
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Description</td>
                <td>@item.Availability</td>
                <td><a class="btn btn-dark" asp-action="EditProductForm" asp-route-id="@item.Id" >Edit</a></td>
                <td><a class="btn btn-danger" asp-action="DeleteProductForm" asp-route-productId="@item.Id">Delete</a> </td>
            </tr>
        }
    </tbody>
</table>
