@using LolipopSquare.Models.ViewModels
@using System.Globalization
@using Microsoft.AspNetCore.Identity
@model List<ProductVM>
@inject SignInManager<IdentityUser> manager

@{
    ViewData["Title"] = "List of Products";
}

<h3> List of all Products</h3>
<div class="container ">
    <div class="row d-flex g-5 row-cols-1 row-cols-md-4 row-cols-sm-2">

        @foreach (var item in Model)
        {
            <div class="col d-flex align-items-stretch">
                <div class="card" style="width: 15rem;">
                    @{
                        if (item.Images.Count >= 1)
                        {
                            var imageBase64Data = Convert.ToBase64String(item.Images.FirstOrDefault().ImageData);
                            <img class="card-img-top" src="data:image/jpg;base64, @imageBase64Data" alt="Sweeties" />
                        }
                    }
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <h6 class="card-subtitle"><a class ="card-link mb-2 text-muted" asp-controller="Category" asp-action="Index">@item.CategoryName</a></h6>
                        <p class="card-text">@item.Price.ToString("C", new CultureInfo("de-DE"))</p>
                    </div>
                    <div class="card-footer">
                        @if(manager.IsSignedIn(User) && User.IsInRole("Administrator"))
                        {
                                <partial name="_ButtonsAdmin" model="@item.Id"></partial>
                        }
                        else
                        {
                             <partial name="_ButtonsUser" model="@item.Id"></partial>
                        }

                    </div>
                </div>
            </div>
        }
    </div>
</div>